.canvas-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


.canvass{
    border: 2px solid ;
    border-radius:8px;
}

.Menu{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 30%;
    border-radius: 15px;
}

.menu-controls{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


button{
    width:80px;
    height:30px;
    background-color: orangered;
    font-size: large;
    border-radius: 8px;
    outline:none;
    margin:15px;
    border:none;
}